<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cmfs.dao.ZChapterMapper">
    <resultMap id="BaseMap" type="com.cmfs.entity.ZChapter">
        <id column="cid"  property="id" />
        <result column="cname" jdbcType="VARCHAR" property="name" />
        <result column="audio_path" jdbcType="VARCHAR" property="audioPath" />
        <result column="audio_size" jdbcType="DOUBLE" property="audioSize" />
        <result column="audiotime" jdbcType="DATE" property="audiotime" />
        <result column="uptime" jdbcType="DATE" property="uptime" />
        <result column="plays" jdbcType="INTEGER" property="plays" />
        <association property="zAlbum" javaType="com.cmfs.entity.ZAlbum">
            <id column="aid" jdbcType="VARCHAR" property="id" />
            <result column="aname" jdbcType="VARCHAR" property="name" />
        </association>
    </resultMap>
    <select id="findAll" resultMap="BaseMap">
     select c.id cid,c.name cname,c.audio_size,c.audio_path,c.audiotime,c.uptime,c.plays,
            a.id aid,a.name aname
    from z_chapter c left join z_album a
    on c.aubum_id=a.id
    order by a.name desc
  </select>
</mapper>
